# URL da Vercel onde o app está deployado
NEXT_PUBLIC_APP_URL=https://turborepo-vercel-template-app.vercel.app

# URL da Vercel onde o admin está deployado
NEXT_PUBLIC_ADMIN_URL=https://turborepo-vercel-template-admin.vercel.app

# URL da Vercel onde o docs está deployado
NEXT_PUBLIC_DOCS_URL=https://turborepo-vercel-template-docs.vercel.app
